# Variables de entorno para producción en Vercel
# Configurar en: Vercel Dashboard -> Project Settings -> Environment Variables
SINDICATO_PASSWORD=DragonesFuriososX0
SESSION_SECRET=genera_una_clave_aleatoria_para_firmar_cookies
ALBION_GUILD_ID=UUdmeQLuQ8upNFtQBl0YPQ
