@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-rajdhani: 'Rajdhani', sans-serif;
  --font-jetbrains: 'JetBrains Mono', monospace;
  --font-inter: 'Inter', sans-serif;
}

/* Scrollbars Técnicos Minimalistas (Esports Style) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

body {
  background-color: #09090b;
  color: #f4f4f5;
  user-select: none;
}
